services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        GO_VERSION: ${GO_VERSION:-latest}
      target: dev
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=tsudzuri
      - DB_SSL_MODE=disable
    depends_on:
      - db
    command: make dev

  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=tsudzuri
    ports:
      - "5432:5432"
    volumes:
      - ./resources/postgres/init:/docker-entrypoint-initdb.d
